@import url("../css/reset.css");

.texto_vermelho {
    color: #FF0000;
}

.menu_container {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;

    background-color: #000000;
    color: #FFFFFF;

    border-bottom: 5px solid #FFD700;
}

.menu_time h2:nth-child(2), .menu_score h2:nth-child(2) {
    margin-top: 1rem;
}

.menu_lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player {
    height: 60px;
}

.painel_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.painel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #FF0000;*/
}

.square {
    height: 150px;
    width: 150px;
    background-color: #7FFFD4;
    border: 1px solid #000000;
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}